<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>知乎</title>
    <link rel="stylesheet" href="/css/comment.css">
  </head>
  <body>
    <div id="id-header">
      <div class="header-inner">
        <div class="header-inner-left">
          <a class="header-logo" href="#">知乎</a>
          <nav class="header-navigation">
            <a class="navigation-a" href="#">首页</a>
            <a class="navigation-a" href="#">发现</a>
            <a class="navigation-a" href="#">话题</a>
          </nav>
          <div class="header-search">
            <div class="search-input">
              <input placeholder="搜索你感兴趣的内容">
            </div>
            <button class="search-btn">搜索</button>
          </div>
        </div>
        <div class="header-userinfo header-inner-right">
          <div class="userinfo-items notifications"><a href="#">通知</a></div>
          <div class="userinfo-items message"><a href="#">私信</a></div>
          <div class="userinfo-items profile"><a href="#">头像</a></div>
        </div>
      </div>
    </div>

    <div id="id-main" class="">
      <div class="left-column">
        <div class="card left-nav">
          <div class="left-nav-add">
            <button class="nav-add-items" >提问</button>
            <button class="nav-add-items" >回答</button>
            <button class="nav-add-items" >写文章</button>
          </div>
          <a class="left-nav-r" href="#">草稿</a>
        </div>

        <div class="left-main">
          <div class="card">
            <div class="feed-title">

            </div>
            <div class="feed-content">
              <h2 class="feed-content-title">过去皇帝在朝堂上发言结束后，底下大臣是怎么回应的？</h2>
              <div class="feed-content-inner">看古装剧一直好奇一个事情，过去皇帝讲话结束了底下官员是怎么做到齐声高喊，万岁英明，圣上圣明，吾皇万岁万岁万万岁的。万一喊错了咋整，喊的节奏不一致咋整。估计也不能是跟现在似的啪啪啪鼓掌结束。那到底该是如何回应呢？</div>
              <div class="feed-content-action">
                <button>关注问题</button>
                <button>2条评论</button>
                <button>分享</button>
                <button>9个回答</button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="feed-title">

            </div>
            <div class="feed-content">
              <h2 class="feed-content-title">过去皇帝在朝堂上发言结束后，底下大臣是怎么回应的？</h2>
              <div class="feed-content-inner">看古装剧一直好奇一个事情，过去皇帝讲话结束了底下官员是怎么做到齐声高喊，万岁英明，圣上圣明，吾皇万岁万岁万万岁的。万一喊错了咋整，喊的节奏不一致咋整。估计也不能是跟现在似的啪啪啪鼓掌结束。那到底该是如何回应呢？</div>
              <div class="feed-content-action">
                <button>关注问题</button>
                <button>2条评论</button>
                <button>分享</button>
                <button>9个回答</button>
              </div>
            </div>
          </div>
          <div></div>
        </div>
      </div>

        <div class="right-column">


        </div>
      </div>



  </body>
</html>
